@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
.post-button {
      background: #008cba;
      font-size: 0.8125rem;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 8px;
      padding-top: 5px;
      width: auto;
      height: 100px;
      color: white;
  }
.post-button:hover {
	background: #006687;
	color: white;
}