{% extends "base.html" %}
{% block content %}
<!-- Header and Nav -->
 
  <div class="row">
    <div class="large-12 columns">
      <div class="panel text-center">
          <h1> Do you like Fishsticks? </h1>
          <img src = "{{ url_for('static', filename='img/fishsticks.jpg') }}"" > </img>
      </div>
    </div>
  </div>
{% endblock %}


