<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">

  <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <!---  start nav --->
    <div class="row">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">პანდორა</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">

        <!-- Right Nav Section -->
        <ul class="right show-for-large-up">

            <li class="name"> <a href="/wtf">WTF? </a></li>              
            <li class="name"> <a href="/about">ჩვენს შესახებ </a></li>  
          <li class="has-dropdown">
            <a href="#">პარამეტრები</a>
            <ul class="dropdown">
              <li><a href="/logout">გამოსვლა</a></li>
            </ul>
          </li>
        </ul>

        <ul class="right hide-for-large-up">
          <li class="has-dropdown">
            <a href="#">Right Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">First link in dropdown</a></li>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
      </section>
      </nav>
  </div>
    <!-- end nav -->

    {% block content %} {%endblock%}
  <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>    
  <script>
    $(document).foundation();


function funqcia (usrname,me) {
$(me).parent().hide(1);

  $.post("/follow_to",
  {
    username:usrname
  },
  function(data,status){
      
    //alert("Data: " + data );
});
    var div_name="#div_"+usrname;
    $(div_name).hide();
  //alert(usrname);

}



    
    $( "#post-button").click(function() {
/*
 var pattern='<hr><div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>\
        <div class="large-10 columns">\
          <p><strong>User said: </strong>' +
          $('textarea#main-textarea').val()+
          '</p>\
          <ul class="inline-list">\
            <li><a href="">Reply</a></li>\
            <li><a href="">Share</a></li>\
          </ul>\
        </div>';
  //$("rameteqsti").insertBefore( "#last-post" );
  //alert( $('textarea#main-textarea').val() );

  $("#feed").hide().prepend(pattern).show('slow');
  */
  if($("#datetimepicker1").val()=='') 
    {
      alert("sheiyvanet dro sworad");
      return;
    }
   $.post("/exxxx",
  {
    text:$("textarea#main-textarea").val(),
    date:$("#datetimepicker1").val()
  },
  function(data,status){
    $("textarea#main-textarea").val('');
    $("#datetimepicker1").val('');

    
   //alert("Data: " + data );
  });



   var pattern='<div class="row">\
                <div class="large-2 columns small-3">'+$("#profile-pic").html()+'</div>\
                <div class="large-10 columns">\
                    <p><strong>'+$("#usrnm").html()+'-მ ივარაუდა:</strong> <br/>'+
                    $('textarea#main-textarea').val()+'</p>\
                    ყუთი გაიხსნება : '+$("#datetimepicker1").val()+' <br/> \
                <ul class="inline-list">\
                    <li><a href="">Reply</a></li>\
                    <li><a href="">Share</a></li>\
                </ul>\
                </div>\
            </div>';
  //$("rameteqsti").insertBefore( "#last-post" );
  //alert( $('textarea#main-textarea').val() );

  $("#feed").hide().prepend(pattern).show('slow');

});
    

  </script>
</body>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dtpicker/jquery.datetimepicker.css') }}"/ >
 <script src="{{ url_for('static', filename='dtpicker/jquery.datetimepicker.js') }}">
 </script>
 <script type="text/javascript">
 $('#datetimepicker1').datetimepicker(
  {
    minDate:0
  });

 </script>
</html>
