{% extends "base.html" %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


{% block content %}

  <div class="row">
      <div class="large-12 columns">
          <br/><br/> <br/>
      </div>
    </div>

<div class="row">
    <div class="large-8 columns text-center">
        <h2>  პანდორა </h1>
        <img src="{{ url_for('static', filename='img/pandora_main.jpg') }}" alt="pandora"> </img>
    </div>
    <div class="large-4 columns">
    <h3> ავტორიზაცია </h3>

    <form method=post action="/login">
        {{form.hidden_tag()}}
    <dl>
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
    </dl>
    <input class = "small button" name = which type=submit value="შესვლა">
    <a class = "small button"  href="/register"> რეგისტრაცია </a>
    <hr>
    <p> ან დაუკავშირდი Facebook ით </p>
    <a href="/loginfb" class="medium alert button">Facebook</a>
    </form>
    </div>

</div>



{% endblock %}
