{% extends "base.html" %}
{% block content %}
<!-- Header and Nav -->
 
  <div class="row">
    <div class="large-12 columns">
        <br/>
    </div>
  </div>
  <!-- End Header and Nav -->
  <div class="row">
 <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 columns ">
      <div class="panel">
          <a href="#"><img src= "{{user.img_url_large}}" /></a>
        
          <h5 id="usrnm" >{{user.username}}</h5>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h5 class="title"><a href="#">რამე</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="/logout">გამოსვლა</a></h5>
          </section>
        </div>
 
      </div>
    </div>
    
    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-6 columns">
 


      <!-- Feed Entry -->

      <div id="post-form" class = "row">
          <div id="profile-pic" class="large-2 columns small-3"><img src={{user.img_url_small}} /></div>
            <div class="large-10 columns">
          <!--label>დაწერე რა მოხდება</label-->
          <textarea id="main-textarea" placeholder="დაწერე რა მოხდება!" style="height: 74px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: rgb(189, 199, 216); margin: 0px;"></textarea>
            <input id="datetimepicker1" type="text" style="border-top-style: none; margin: 0px -0.34375px 16px 0px; width: 387px;height: 2em;">

          <div class="large-5 columns">
          <ul class="inline-list">
          
          </ul>
          </div>
           <div class="large-5 columns">
            <ul class="inline-list">
            <input id="post-on-fb" type="checkbox">
            <label for="post-on-fb">Post on fb</label>
          </ul>
          </div>
           <div class="large-2 columns">
            <ul class="inline-list">
            <a href="#" id="post-button" class="post-button">Post</a>
            </ul>
          </div>
        </div>
        
      </div>

      <div id = "feed">
          {% for bet in bets %}
            <!-- Feed Entry -->
            <div class="row">
                <div class="large-2 columns small-3"><a href = "/profile/{{bet.placer.username}}"> <img  src={{bet.placer.img_url_small}} /> </a> </div>
                <div class="large-10 columns"> 
                    <p><strong>{{bet.placer.username}}-მ ივარაუდა:</strong> <br/>
                    {{bet.text}}</p>
                    <p><font  color="#009cba">ნავარაუდებია :</font> {{bet.creation_time.strftime("%Y/%m/%d %H:%M")}} <br/> 
                    {% if bet.revealed %}
                    ყუთი გაიხსნა: {{bet.reveal_date.strftime("%Y/%m/%d %H:%M")}} <br/> 
                    {% else %}
                    ყუთი გაიხსნება: {{bet.reveal_date.strftime("%Y/%m/%d %H:%M")}} <br/> 
                    {%endif%}
                </p>
                <ul class="inline-list">
 
                    <li><a href="#">Get Link</a></li>
                    <li><a href="#">Share</a></li>
                </ul>
                </div>
            </div>
            <!-- End Feed Entry -->
        
            <hr />
            {% endfor %}

    </div>
    </div>
 
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="large-3 columns hide-for-small">
    <div class="panel">
        
        {% for sug in sugs %}
        <div id="div_{{sug.username}}">
          <a href="/profile/{{sug.username}}" ><img src= "{{sug.img_url_small}}"} /></a>

          <a class="small round button right inline" onclick="funqcia('{{sug.username}}',this)"  href="#">Follow </a>
          <h6 id="username_followto">{{sug.username}}</h6>          
          <!-- <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <a class = "small round button" id="follow-button" href="#">follow</a>
            </section -->
            <hr/>
            </div>
            {% endfor %}
        
        </div>



      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
    </aside>
 
  </div>
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>© Copyright Fishsticks inc. Unihack</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
          </ul>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}
