{% extends "base.html" %}
{% block content %}
<!-- Header and Nav -->
  
    <div class="row">
      <div class="large-12 columns">
          <br/> <br/>
      </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
        <div class="panel ">
                    
            <p> ბლაბლაბლა </p> 
        </div>

    </div>
    <div class="large-4 columns">
         <img src = "{{ url_for('static', filename='img/pandora_main.jpg') }}"> </img>
    </div>
</div>


{% endblock %}



